

  
  .seller__image {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    
  }
  .im{
    width: 350px;
    height: 250px;
    border-radius: 10px;

  }
  
  .seller__image__content {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 0.3s;
    color: white;

  }
  
  .seller__image .badge {
    width: 50px;
    height: 25px;
    border-radius: 15px;
    
  }
  .badge{
    background-color: rgb(211, 150, 150);
    color:red;
text-align: center;
padding-top: 5px;
    margin-left: 290px;
    margin-top: 10px;
  }
  

  
  .seller__price p {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    margin-left: 20px;

  }
  
  .seller__price h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 20px;


  }
  .dn{
    position: absolute;
    margin-top:90px ;
    font-size: 15px;

  }
  .price{
    position: absolute;
    margin-top:130px ;
    font-size: 15px;


  }
  
  
  
  .seller__details {
    padding: 1rem;
    text-align: center;
  }

  .explore{
    color: white;
    background-color: red;
    border: 0;
    font-size: 15px;
    border-radius: 5px;
    margin-left: 250px;
    width: 90px;
    height: 40px;
    margin-top: 130px;
  }
  
.details{
    color:rgb(10, 10, 51);
    font-size: 30px;
}
.parag{
    color:rgb(101, 101, 104);
    font-size: 20px;
}
  
  .seller__card:hover .seller__image__content {
    opacity: 1;
    cursor: pointer;
  }
  
  